@using Npgsql;
@using System.Dynamic;
@using System.Text.Json.Serialization;
@model List<MapItems>


@{
    Layout = "_Layout";
}
<head>
    @* <meta charset="utf-8"> *@
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> *@
    @* <meta name="description" content="Start your development with Ollie landing page."> *@
    @* <meta name="author" content="Devcrud"> *@
    @* <title>PoacherHunter2000</title> *@

    <!-- font icons -->
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome-free-6.2.1-web/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome-free-6.2.1-web/css/solid.css">

    <!-- owl carousel -->
    @* <link rel="stylesheet" href="~/assets/vendors/owl-carousel/css/owl.carousel.css"> *@
    @* <link rel="stylesheet" href="~/assets/vendors/owl-carousel/css/owl.theme.default.css"> *@

    <!-- Bootstrap + Ollie main styles -->
    <link rel="stylesheet" href="~/assets/css/ollie.css">
    
    <!-- Map style + js -->
    <link rel="stylesheet" href="~/assets/vendors/leaflet/leaflet.css">
    <script src="~/assets/vendors/leaflet/leaflet.js"></script>
    
    <!-- Extra's -->
    <link rel="stylesheet" href="~/assets/css/events.css">
    
    <!-- Background color, etc -->
    <link rel="stylesheet" href="~/assets/css/layoutsettings.css">

</head>
<body>
<div id="map">
    @await Html.PartialAsync("Map")
</div>
@* $1$ <section class="section" id="about"> #1# *@
@*     <div class="container"> *@
@*         <div class="row align-items-center mr-auto"> *@
@*             <div class="col-md-4"> *@
@*                 <h3 class="section-title">Live Tracking</h3> *@
@*                 $1$ <a href="javascript:void(0)">Read more...</a> #1# *@
@*             </div> *@
@*             <div class="container"> *@
@*                 <div id="googleMap" style="width:100%;height:400px"></div> *@
@*             </div> *@
@*             <script> *@
@*              function myMap() { *@
@*              var mapProp= { *@
@*                  center:new google.maps.LatLng(51.508742,-0.120850), *@
@*                  zoom:5, *@
@*              }; *@
@*              var map = new google.maps.Map(document.getElementById("googleMap"),mapProp); *@
@*              } *@
@*          </script> *@
@*             <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIhCB6jZXgL-QVL-6oq4hWQzyX6xDcWeo&callback=myMap"></script> *@
@*         </div> *@
@*     </div> *@
@* $1$ </section> #1# *@
<section>
    <div id="events">
        @await Html.PartialAsync("Events")
    </div>
</section>
<div id="overlaybackgroundcolor" class="overlay-upperpart">
    <div id="overlaydetails" class="overlay">
        <div id="viewdetailsofevent" class="overlay-content">
            @Html.Partial("ViewDetailsPartial", Model[0])
            @* close partial *@
        </div>
    </div>
</div>

<!-- core  -->
<script src="~/assets/vendors/jquery/jquery-3.4.1.js"></script>
@* <script src="~/assets/vendors/bootstrap/bootstrap.bundle.js"></script> *@
@* *@
@* <!-- bootstrap 3 affix --> *@
@* <script src="~/assets/vendors/bootstrap/bootstrap.affix.js"></script> *@

<script src="~/assets/js/events.js"></script>
<script src="~/assets/js/showEvents.js"></script>

<!-- Map script -->
<script>
 function myMap() {
     // Database Latitude and Longtitude are stored wrong.
     var tmplat = @Model[0].Latitude;
     var tmplong = @Model[0].Longitude;
     
 var map = L.map('map').setView([-2.0163175, 23.31516200], 13);
 L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
     maxZoom: 19,
     attribution: '&copy; <a href="http:www.openstreetmap.org/copyright">OpenStreetMap</a>'
 }).addTo(map);
 }
 myMap();
 function newmap(currentevents){
     console.log("works");
     let markers = [];
     
     currentevents.forEach((element, i) =>
     marker[i] = new L.marker([element.latitude, element.longitude]).bindPopup('Soundtype: ${element.soundtype}'));
     var test_showevents = L.layerGroup([markers]);
     test_showevents.addTo(map);
 }
 </script>

 @* // newmap(@Json.Serialize(Model)); *@


<script id="testing">
function loadNewEvents(){
    var i = 0;

    $('.col-icon').each(function(){
        i += 1;
    })
    console.log("current:" + i);
    events(i)
}
</script>

<!-- Test codes, voor nu niet verwijderen - Min En -->
@* @{ var currentevents = Model.Count - 5;} *@
@* $('#events').load('@Url.Action("Map", "Home", new {addevent = currentevents})') *@

@* <script id="newtest"> *@
@* function changeFunction(currentevents){ *@
@*     var scripthtml = $(this).html(); *@
@*     $("testing").replaceWith('<script>'); *@
@*     } *@
@* </script> *@

<script type="text/javascript" id="reloadjs">
     // setInterval("loadNewEvents()", 30000);
     </script>
<script>
function openNav(){
    document.getElementById('overlaybackgroundcolor').style.display = "block";
    document.getElementById('overlaydetails').style.display = "block";
}
function closeNav(){
    document.getElementById('overlaybackgroundcolor').style.display = "none";
    document.getElementById('overlaydetails').style.display = "none";
}
</script>
</body>
