
@model List<MapItems>

    <div class="container">
        <h3 class="section-title mb-4"><i class="ti-rss-alt"></i> Recent Events</h3>
        @foreach (var eventlisted in Model)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-icon">
                                @if (eventlisted.Soundtype == "gunshot")
                                {
                                    <i class="myIcon box-event ti-target"></i>
                                }
                                else if (eventlisted.Soundtype == "vehicle")
                                {
                                    <i class="myIcon box-event ti-car"></i>
                                }
                                else if (eventlisted.Soundtype == "animal")
                                {
                                    <i class="myIcon box-event ti-linux"></i>
                                }
                                else if (eventlisted.Soundtype == "thunder")
                                {
                                    <i class="myIcon box-event ti-bolt"></i>
                                }
                                else
                                {
                                    <i class="myIcon box-event ti-na"></i>
                                }
                            </div>
                            <div class="col">
                                <p style="margin-bottom: 0; padding-top: 0"> @($"Date: {eventlisted.Time.ToShortDateString()}")</p>
                                <p style="margin-bottom: 0; padding-top: 0"> @($"Time: {eventlisted.Time.ToShortTimeString()}") </p>
                                <p style="margin-bottom: 0;"> @($"Sound Type: {eventlisted.Soundtype}")</p>
                                <p style="margin-bottom: 0; padding-top: 0"> @($"Probability : {eventlisted.Probability}%")</p>
                            </div>
                            <div class="col-viewdetails">
                                <a href="#" onclick="getview(@eventlisted.Id.ToString())" class="box-details viewdetails">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                    <br/>
                }
    </div>