@model MapItems

@* add css with higher z for overlay *@
<div class="" xmlns="http://www.w3.org/1999/html">
    @* Make icon bigger *@
    <div class="">
        @if (Model.Soundtype == "Gunshot")
        {
            <i class="viewdetails-icon viewdetails-box fa-solid fa-gun fa-fw"></i>
        }
        else if (Model.Soundtype == "Vehicle")
        {
            <i class="viewdetails-icon viewdetails-box fa-solid fa-car fa-fw"></i>
        }
        else if (Model.Soundtype == "Animal")
        {
            <i class="viewdetails-icon viewdetails-box fa-solid fa-dog fa-fw"></i>
        }
        else if (Model.Soundtype == "Thunder")
        {
            <i class="viewdetails-icon viewdetails-box fa-solid fa-cloud-bolt fa-fw"></i>
        }
        else
        {
            <i class="viewdetails-icon viewdetails-box fa-solid fa-question fa-fw"></i>
            
        }
    </div>
    <div class="status">
        @{
            string color = "";
            if (@Model.Status.ToString() == "Not started")
            {
                color = "#B22222";
            }
            else if (@Model.Status.ToString() == "In progress")
            {
                color = "#FFDF07";
            }
            else
            {
                color = "#26FF05";
            }
        }
        <button class="status-subp" onclick="pushstatusdatatodb2('@Model.Id', '@Model.Status', '@Model.Id')" style="background-color: @color">
            @(Model.Status)
        </button>
    </div>
    <div class="soundfile">
        @* get soundfile *@
        <audio controls>
            <source src="@Model.Soundfile"/>
        </audio>
    </div>
    <div class="details">
        <p class="text-dark">
            Event id: @(Model.Id)
            <br/>Probability: @(Model.Probability)%
            <br/>Time of event: @(Model.Time.ToShortTimeString()) GMT
            <br/>Date of event: @(Model.Time.ToShortDateString())
            <br/>Latitude: @(Model.Latitude) 
            <br/>Longitude: @(Model.Longitude)
        </p>
    </div>
    <div class="closingview">
        @* close partial *@
        <a href="javascript:void(0)" class="closebtn" onclick="closing()">< Return</a> <!-- kan gebruik maken van: &times; inplaats van wireframe button-->
    </div>
    <div class="downloadtopdf">
        @* download for offline *@
        
        <button class="topdf" onclick="topdf('@Model.Id','@Model.Time.ToShortDateString()','@Model.Time.ToShortTimeString()',`@Model.Longitude.ToString("", System.Globalization.CultureInfo.InvariantCulture)`,`@Model.Latitude.ToString("", System.Globalization.CultureInfo.InvariantCulture)`)" download="Event @Model.Id _ @Model.Time .PDF">To PDF</button> <!-- need function to make pdf, maybe <button>?-->
    </div>
</div>
